{{#> DsProfilePage }}
  <p>Демонстрация диалога с ошибкой загрузки (или какой-то ошибки в целом)</p>
{{/ DsProfilePage }}

{{#> DsDialog title="Ошибка, попробуйте ещё раз" labelConfirm="Поменять" isErrorDialog="true" }}
  {{#> DsButton type="link" }}
    <p class="profile-dialog__choice-text">
      Выбрать файл<br>
      на компьютере
    </p>
  {{/ DsButton}}
{{/ DsDialog}}
