@use 'sass:color';

#app {
  width: 100vw;
  height: 100vh;
  color: $text-base-color;
  overflow: auto;
}

a {
  color: $base-color;

  &:hover {
    color: color.mix($base-color, #FFF, 75%);
  }

  &:active {
    color: color.mix($base-color, #000, 65%);
  }

  &:visited {
    color: #7A00FF;

    &:hover {
      color: color.mix(#7A00FF, #FFF, 60%);
    }

    &:active {
      color: color.mix(#7A00FF, #000, 45%);
    }
  }
}
