@font-face {
  font-family: 'Rostelecom Basis';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Rostelecom Basis';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Rostelecom Basis';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Rostelecom Basis';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Rostelecom Basis';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Rostelecom Basis';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-style: normal;
  font-weight: 800;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
