{{#> DsProfilePage }}
  <p>Демонстрация диалога добавления пользователя</p>
{{/ DsProfilePage }}

{{#> DsDialog bodyClass="add-user-dialog" title="Добавить пользователя" labelConfirm="Добавить" }}
  <form class="add-user-dialog__form">
    {{> DsInput labelClass="add-user-dialog__input" label="Логин" type="text" }}
  </form>
{{/ DsDialog}}
