{{#> DsProfilePage }}
  <p>Демонстрация диалога удаления пользователя</p>
{{/ DsProfilePage }}

{{#> DsDialog bodyClass="delete-user-dialog" title="Удалить пользователя" labelConfirm="Удалить" }}
  <form class="add-user-dialog__form">
    {{> DsInput labelClass="delete-user-dialog__input" label="Логин" type="text" }}
  </form>
{{/ DsDialog}}
