<div class="profile profile-container">
  <nav class="profile__sidebar">
    {{#> DsButton type="icon" }}
      {{> DsIcon name="arrow-left" class="profile__icon" }}
    {{/ DsButton }}
  </nav>

  <main class="profile__content">
    {{> @partial-block }}
  </main>
</div>
