<div class="profile profile-container">
  <nav class="profile__sidebar">
    {{#> DsButton type="icon" }}
      <svg class="profile__icon">
        <use href="/src/icons/DsIconsSprite.svg#arrow-left" />
      </svg>
    {{/ DsButton }}
  </nav>

  <main class="profile__content">
    <button class="profile__avatar">
      <svg class="profile__avatar-stub">
        <use href="/src/icons/DsIconsSprite.svg#profile-image-stub" />
      </svg>
      <span class="profile__avatar-change-text">Поменять<br>аватар</span>
    </button>
    {{> @partial-block }}
  </main>
</div>
