<section class="chat-sidebar">
  {{#> DsButton class="sidebar__profile-link" type="link" }}
    Профиль {{> DsIcon class="" name="keyboard-arrow-right" }}
  {{/ DsButton}}

  {{> ChatSearch }}

  {{> ChatsList }}
</section>
