@use 'sass:color';

.profile-dialog {
  &__file-upload {
    .ds-dialog__body {
      padding-bottom: 0;
    }

    /*
      избавляемся от обычного футера, чтобы добавить свой,
      но уже внутри `form`
    */
    .ds-dialog__footer {
      display: none;
    }

    .ds-button {
      width: 100%;
      margin-top: 45px;
    }
  }

  &__change-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__choice-file {
    display: block;
    width: fit-content;
    margin-bottom: auto;
  }
}

.choice-file__text {
  color: $base-color;
  text-decoration: underline;
  transition: color .15s ease-in;
  cursor: pointer;

  &:hover {
    color: color.mix($base-color, #FFF, 65%);
  }

  &:active {
    color: color.mix($base-color, #000, 65%);
  }
}

.choice-file {
  &__input {
    display: none;
  }
}
