<div class="navigation-container">
  <p>Навигация по приложению</p>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__links"><a href="#" data-page="login">Авторизация</a></li>
      <li class="navigation__links"><a href="#" data-page="register">Регистрация</a></li>
      <li class="navigation__links"><a href="#" data-page="profile">Профиль</a></li>
      <li class="navigation__links"><a href="#" data-page="change-avatar">Диалог изменения аватара юзера</a></li>
      <li class="navigation__links"><a href="#" data-page="loaded-file">Диалог с загруженным файлом</a></li>
      <li class="navigation__links"><a href="#" data-page="on-load-error">Диалог с ошибкой загрузки</a></li>
      <li class="navigation__links"><a href="#" data-page="add-user">Добавить пользователя</a></li>
      <li class="navigation__links"><a href="#" data-page="delete-user">Удалить пользователя</a></li>
      <li class="navigation__links"><a href="#" data-page="error-404">Страница 404</a></li>
      <li class="navigation__links"><a href="#" data-page="error-500">Страница 500</a></li>
    </ul>
  </nav>
</div>
