.ds-dialog-overlay {
  position: fixed;
  z-index: 8000;
  inset: 0;
  background-color: rgba(0,0,0,.4);
}

.ds-dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 340px;
  padding: 40px 30px;
  background-color: white;
  border-radius: 12px ;
  transform: translate(-50%, -50%);

  &__title {
    text-align: center;
    margin: 0;

    &_error {
      color: $error-color;
    }
  }

  &__body {
    text-align: center;
    padding: 45px 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }
}
