<div class="ds-dialog-overlay">
  <div class="ds-dialog">
    <h2 class="ds-dialog__title {{dialogClass isErrorDialog}}">{{title}}</h2>
    <div class="ds-dialog__body">
      {{> @partial-block }}
    </div>
    <div class="ds-dialog__footer">
      {{> DsButton label=labelOk type="primary" }}
      {{#if labelCancel}}
        <p class="ds-dialog__confirm-error">{{labelCancel}}</p>
      {{/if}}
    </div>
  </div>
</div>
