{{#> DsProfilePage }}
  <p>Демонстрация диалога с загруженным файлом</p>
{{/ DsProfilePage }}

{{#> DsDialog title="Файл загружен" labelConfirm="Поменять" }}
  <p class="profile-dialog__file-name">my-awesome-avatar.png</p>
{{/ DsDialog}}
