<form class="chat-search">
  <input class="chat-search__input" type="search" placeholder="Поиск"  />
  <label class="chat-search__label">
    {{> DsIcon name="search" }}
    <p class="chat-search__label_hidden">Поиск</p>
  </label>
</form>
