.profile-change {
  &__password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 510px;
    margin-top: 97px;
    min-height: 204px;

    .profile-input {
      margin-bottom: 10px;
    }
  }
}