{{#> DsProfilePage }}
  <form class="profile-change__password">
    {{#each fields}}
      {{> ProfileInput label=label type=type }}
    {{/each}}
  </form>
  <div class="profile-change__save-button">
    {{> DsButton label="Сохранить" }}
  </div>
{{/ DsProfilePage }}
